<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculatorSession" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65171/SOCalculator.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICalculatorSession" contract="CalculatorService.ICalculatorSession"
                name="WSHttpBinding_ICalculatorSession">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>